<div class="footer-grid">
            <div class="footer-brand">
                <h2>OSIS<span>SMAK</span>IPTO</h2>
                <p>Membentuk pemimpin masa depan yang melayani dengan ketulusan dan berintegritas tinggi berdasarkan
                    iman Kristiani.</p>
                <div class="social-links">
                    <a href="#"><i class="fa-brands fa-instagram"></i></a>
                    <a href="#"><i class="fa-brands fa-tiktok"></i></a>
                    <a href="#"><i class="fa-brands fa-youtube"></i></a>
                </div>
            </div>
            <div class="footer-links">
                <h4>Quick Links</h4>
                <ul>
                    <li><a href="index">Homepage</a></li>
                    <li><a href="aboutus">About Us</a></li>
                    <li><a href="anggota">Anggota</a></li>
                    <li></li>
                    <li><a href="acara">Acara</a></li>
                </ul>
            </div>
            <div class="footer-links">
                <h4>Contact Us</h4>
                <ul>
                    <li><a href="#"><i class="fa-solid fa-location-dot" style="margin-right:10px;"></i> Jl. Green Ville
                            Blok D, RT./RW:/RW.07/05, Duri Kepa, Kec. Kb. Jeruk, Kota Jakarta Barat, Daerah Khusus
                            Ibukota Jakarta 11510, Indonesia</a></li>
                    <li><a href="#"><i class="fa-solid fa-envelope" style="margin-right:10px;"></i>
                            bernard_yoe@tomang.ipeka.sch.id</a></li>
                    <li><a href="#"><i class="fa-brands fa-whatsapp" style="margin-right:10px;"></i> 08111346152</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="footer-bottom">
            <p>&copy; 2026 OSIS SMAK IPEKA Tomang. All rights reserved.</p>
        </div>